# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
frontend/dist/

# Data
data/
uploads/
results/

# IDE
.vscode/
.idea/

# Environment
.env

# OS
Thumbs.db
.DS_Store

# Logs
*.log
frontend/tsconfig.tsbuildinfo
